@use '/src/scss/variables' as *;

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $menu-height;
    background: $board-color;
    border: none;
    border-radius: 12px 12px 0 0;
}