@use '/src/scss/variables' as *;

.cell {
    border-radius: 50%;

    &--clear {
        background-color: $background-color;
    }

    &--red {
        background-color: $red-coin-color;
    }

    &--yellow {
        background-color: $yellow-coin-color;
    }
}
