// Contains variables such as colours and spacing

// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Game Colours
$board-color: #3A73B8;
$red-coin-color: #FF6F61;
$yellow-coin-color: #FFD966;

// Dimensions
$menu-height: 50px;

// Breakpoints
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1400px;