// Contains variables such as colours and spacing

// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Dimensions
$menu-height: 50px;

// Breakpoints
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1400px;